version: '3'

services:
  web:
    container_name: web
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - uavrental_network
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: uavrental_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    networks:
      - uavrental_network

networks:
  uavrental_network: