version: '3'

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - uavrental_network
  db:
    image: postgres
    environment:
      POSTGRES_DB: uavrental_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    networks:
      - uavrental_network

networks:
  uavrental_network: